<h3>{{ title }}</h3>
<br><br>
<div class="r">
  <input
    type="text"
    placeholder="Log ara"
    [(ngModel)]="kullanicisearch"
  />
  <button (click)="changedSearch()">ara</button>
</div>
<br><br>
<table class="table" *ngIf="loglar.length >= 1">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">IP</th>
      <th scope="col">Log işlemi</th>
      <th scope="col">Log açıklaması</th>
      <th scope="col">Log durumu</th>
      <th scope="col">Log zamanı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of loglar">
      <td>
        {{ log.logID }}
      </td>
      <td>
        {{ log.logIP }}
      </td>
      <td>
        {{ log.logIslemi }}
      </td>
      <td>
        {{ log.logAciklama }}
      </td>
      <td>
        {{ log.logDurumu }}
      </td>
      <td>
        {{ log.logZaman }}
      </td>
      <table>
        <tr>
          <td style="background-color: orange">
            <a (click)="raporla(log)" type="button">Raporla</a>
          </td>
        </tr>
      </table>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" *ngIf="loglar.length < 1">yok ki senin logun yok</div>
<a 
    (click)="previousPage()"
    type="button"
    class="btn btn-primary"
    >prev</a
  >
  <a *ngIf="loglar.length >= 1"
    (click)="nextPage()"
    type="button"
    class="btn btn-primary"
    >next</a
  >
